@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to ensure the root div fills the screen */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #020617; /* Dark background default */
  overflow: hidden; /* Prevents scrollbars on the main window */
}